<div class="card mb-3">
    <h5 class="card-header">{{ style }} Citation</h5>
    <div class="card-body" id="body">
        <p id="MLA" *ngIf="style === 'MLA'">"{{ videoData?.snippet?.title }}." <i>Youtube</i>, uploaded by {{ videoData?.snippet?.channelTitle }}, {{ videoData?.snippet?.publishedAt | date:'d MMM. y' }}, {{ videoData?.link }}</p>
        <p id="APA" *ngIf="style === 'APA'">[{{ videoData?.snippet?.channelTitle }}]. ({{ videoData?.snippet?.publishedAt | date:'y, MMMM d' }}). <i>{{videoData?.snippet?.title }}</i> [Video]. Youtube {{ videoData?.link }}</p>
        <p id="Chicago" *ngIf="style === 'Chicago'">"{{ videoData?.snippet?.title }}." {{ videoData?.snippet?.channelTitle }}. Published on {{ videoData?.snippet?.publishedAt | date: 'longDate' }}. Youtube video, {{ videoData?.contentDetails?.duration }}. {{ videoData?.link }}</p>
        <p id="Harvard" *ngIf="style === 'Harvard'"><i>{{ videoData?.snippet?.title }}</i> ({{ videoData?.snippet?.publishedAt | date:'y' }}) Youtube video, added by {{ videoData?.snippet?.channelTitle }} [Online]. Available at {{ videoData?.link }} [Accessed {{ videoData?.lastAccessed | date:'d MMMM y' }}]</p>
        <button id="copy" type="button" class="btn btn-primary" [copy-clipboard]="copyCitation()">Copy Citation</button>
    </div>
</div>