<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="col-sm-3 mb-3">
            <select id="inputState" 
            class="custom-select" 
            [ngClass]="{'is-invalid': submitForm.controls.citationStyle.invalid && submitForm.controls.citationStyle.touched }" 
            formControlName="citationStyle">
              <option value="null" disabled selected>Choose</option>
              <option *ngFor="let style of citationStyles" [value]="style.abbreviation">{{style.abbreviation}}</option>
            </select>
            <div class="invalid-feedback">Select a Style</div>
        </div>
        <div class="col-sm-9 mb-3">
            <input id="citation-link" 
            class="form-control" 
            [ngClass]="{'is-invalid': submitForm.controls.link.invalid && submitForm.controls.link.touched }" 
            type="text" 
            placeholder="Youtube Link" 
            formControlName="link"> 
            <div class="invalid-feedback">Enter a Youtube Link</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cite</button>
</form>

<div class="alert alert-not-valid mt-3" *ngIf="match == false" role="alert">
    Youtube Link was Invalid. Enter a valid Youtube URL
</div>

<div class="row mt-3" *ngIf="match">
    <div class="col-lg-4">
        <app-display-video-info *ngIf="match" [videoData]="videoData"></app-display-video-info>
    </div>
    <div class="col-md-8">
        <app-display-citation [videoData]="videoData" [style]="style"></app-display-citation>
    </div>
</div>