button {
    background-color: #025D8C;
    color: white;
    border-color: #2A8FBD;
    padding: 10px 2rem 10px 2rem;
}

button:hover {
    background-color: #2A8FBD;
    border-color: #BAE4E5;
}

.video-info {
    margin-top: 2rem;
}

.alert-not-valid {
    color: white;
    background-color: #BB1D03;
    border-color: #A50203;
}

form {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.50rem;
}