<form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="col-sm-2">
            <select id="inputState" class="form-control form-control-lg" formControlName="citationStyle">
              <option *ngFor="let style of citationStyles" [value]="style.abbreviation">{{style.abbreviation}}</option>
            </select>
        </div>
        <div class="col-sm-10">
            <div class="input-group-append">
                <input id="citation-link" class="form-control form-control-lg" type="text" placeholder="Youtube Link" formControlName="link">
                <button type="submit" class="btn btn-outline-secondary">Cite</button>
            </div> 
        </div>
    </div>
</form>
<div class="video-info" *ngIf="match == true">
    <app-display-video-info *ngIf="!isLoading" [videoData]="videoData" [format]="format"></app-display-video-info>
    <app-display-citation [videoData]="videoData" [style]="style"></app-display-citation>
</div>