.card {
    width: 100%;
}

button {
    background-color: #025D8C;
    color: white;
    border-color: #2A8FBD;
    padding: 10px 2rem 10px 2rem;
}

button:hover {
    background-color: #2A8FBD;
    border-color: #BAE4E5;
}


.thumbnail {
    width: 100%;
    height: 12rem;

}

@media screen and (max-width: 1200px) {
    .thumbnail {
        width: 100%;
    }
}